body {
                background-color: #87abcc;
                font-family: sans-serif;
            }
            .container {
                color: #3b72a3;
                row-gap: 50px;
                column-gap: 5px;
                justify-content: center;
                margin-top: 240px;
                display: flex;
            }

            /*.container:after {
                content: "";
                display: grid;
                grid-template-columns: repeat(autofit, minmax(250px, 1fr) );
                grid-template-rows: repeat(autofit, minmax(200px, 1fr));
            }*/
            .prethodnaAktivnostDiv {
                height:240px;
                width:300px;
                border:2px solid #3b72a3;
                border-radius: 35px;
                text-align: center;
                align-self: flex-end;
            }

            .trenutnaAktivnostDiv {
                height:340px;
                width:300px;
                border:2px solid #3b72a3;
                border-radius: 15px;
                text-align: center;
            }

            .sledecaAktivnostDiv {
                height:240px;
                width:300px;
                border:2px solid #3b72a3;
                border-radius: 35px;
                text-align: center;
                align-self: flex-end;
            }

            .naslov {
                width: 50%;
                margin-top:-10px;
                margin-left: 25%;
                background-color: #87abcc;
                color: #3b72a3;
                font-size: 14px;
            }

            .trenutnaAktivnostDiv h6 {
                width: 150px;
                margin-top:-10px;
                margin-left: 75px;
                background-color: #87abcc;
                color: #3b72a3;
            }
            .malaSlova {
                font-size: 12px;
                margin-bottom: -15px;
            }
            .velikaSlova {
                margin-bottom: -15px;
            }
            .meni {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            ul {
                display: flex;
                list-style:none;
                
            }
            ul li {
                padding-left: 10px;
                padding-right: 10px;
                align-self: flex-end;
            }
            a {
                
                color: #3b72a3;
            }
            
            @media screen and (max-width: 600px) {
                .prethodnaAktivnostDiv {
                    display: none;
                }
                .sledecaAktivnostDiv {
                    align-self: center;
                }
                .container {
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    justify-items: center;
                    align-items: center;
                    margin-top: 50px;
                }
                .trenutnaAktivnostDiv {
                    margin-bottom: 20px;
                    align-self: center;
                }
                .meni {
                    font-size: 14px;
                    
                }
                
            }