* {
                box-sizing: border-box;
            }

            .container {
                border-radius: 5px;
                background-color: #87abcc;
                padding: 20px;
                width: 50%;
                margin-left: 25%;
                margin-top: 15%;
            }
            label {
                padding: 12px 12px 12px 0;
                display: inline-block;
                color: #3b72a3;
            }
            input, select {
                width: 100%;
                padding: 12px;
                border: 1px solid #ccc;
                border-radius: 4px;
                resize: vertical;
                color: #3b72a3;
            }
            .red:after {
                content: "";
                display: table;
                clear: both;
            }
            .prvaKolona {
                float: left;
                width: 25%;
                margin-top: 6px;
            }

            .drugaKolona {
                float: right;
                width: 50%;
                margin-top: 6px;
            }

            .meni {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            ul {
                display: flex;
                list-style:none;
                
            }
            ul li {
                padding-left: 10px;
                padding-right: 10px;
                align-self: flex-end;
            }
            a {
                
                color: #3b72a3;
            }
            @media screen and (max-width: 600px) {
                .prvaKolona, .drugaKolona {
                    width: 100%;
                    margin-top: 0;
                }
                label {
                    padding-top: 24px;
                }
                .meni {
                    font-size: 14px;
                }
            }