table {
                width: 400px;
                height: 400px;
                position: fixed;
                top: 50%;
                left: 50%;
                margin-top: -200px;
                margin-left: -200px;
                text-align: center;
            }
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
            }
            tr:hover {
                border: 2px solid black;
            }
            td {
                width: 50%;
            }
            .meni {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            ul {
                display: flex;
                list-style:none;
                
            }
            ul li {
                padding-left: 10px;
                padding-right: 10px;
                align-self: flex-end;
            }
            a {
                
                color: #3b72a3;
            }
            @media screen and (max-width: 600px) {
                .meni {
                    font-size: 14px;
                }
            }