table, tr, td {
                border-collapse: collapse;
            }
            tr {
                height: calc(100%/6);
            }
            table {
                width: 800px;
                height: 500px;
                font-size: 14px;
                text-align: center;
                margin-top: -250px;
                margin-left: -405px;
                position: absolute;
                top: 50%;
                left: 50%;
            }
            table.table td {
                background-color: #B0B2B8;
            }
            table.table td:first-child {
                background-color: white;
            }
            table.table td[colspan] {
                background-color: #B5BDD8;
            }
            table.table td.praznaZauzeta {
                background-color: #B0B2B8;
            }
            th {
                text-align: right;
                border: 0;
                vertical-align: bottom;
            }
            td {
                border-top: 1px solid black;
                border-bottom: 1px solid black;
                width: 3%;

            }
            td:nth-last-child(n) {
                border-right: 1px solid black;
            }
            td:nth-child(even) {
                border-left: 1px solid black;
                border-right: 1px dashed black;
            }

            td[colspan="6"]:nth-of-type(even) {
                border-right: 1px solid black;
            }
            td[colspan="6"]:nth-of-type(odd) {
                border-left: 1px solid black;
            }
            td[colspan="3"] + td:nth-child(even):not([colspan]) {
                border-left: 1px dashed black;
                
            }
            td[colspan="3"] {
                border-left: 1px dashed black;
                border-right: 1px dashed black;
                
            }
            td[colspan="4"]:nth-child(even) {
                border-right: 1px solid black;
                border-left: 1px solid black;
            }
            td[colspan="4"]:nth-child(odd) {
                border-left: 1px solid black;
            }

            .dani {
                width: 100px;
                border-top: 0;
                border-bottom: 0;
                text-align: right;
            }
            .dani span {
                padding-right: 10px;
            }
            .meni {
                width: 100%;
                display: flex;
                justify-content: center;
            }
            ul {
                display: flex;
                list-style:none;
                
            }
            ul li {
                padding-left: 10px;
                padding-right: 10px;
                align-self: flex-end;
            }
            a {
                
                color: #3b72a3;
            }
            @media screen and (max-width: 600px) {
                .table, thead, td:not([colspan]):not(:first-of-type), td.praznaZauzeta {
                    display: none;
                }

                .table, .table tbody, .table tr, .table td, .table th{
                    display: block;
                    width: 99%;
                    border-collapse: collapse;
                }
                td[colspan="3"] {
                    border: 1px solid black;
                }
                .table tr{
                    margin-bottom:15px;
                    
                }
                .table {
                    height: 100%;
                    margin-left: 0;
                    margin-top: 20px;
                    position: absolute;
                    left: 0;
                    top: 5%;
                }
                td.praznaZauzeta {
                    display: none;
                }
                .dani {
                    border-top: 1px solid black;
                    border-left: 1px solid black;
                    border-bottom: 1px solid black;
                    width: 80%; 
                }
                td:not(:first-child) {
                    border-top: 0;
                }
                .table td{
                    text-align: left;
                    position: relative;
                    padding: 10px;
                    
                }
                .table td::before{
                    position: absolute;
                    left:0;
                    width: 50%;
                    padding-left:15px;
                    font-size:15px;
                    font-weight: bold;
                    
                }
                .meni {
                    font-size: 14px;
                }
            }